* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif; }

.header {
  height: 50px;
  width: 100%;
  background-color: #EBE2C5;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%; }
  .header .header__ul {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0; }
    .header .header__ul .header__img {
      height: 60px;
      width: 60px;
      margin-bottom: 6px; }
    .header .header__ul .header__li {
      margin-top: 5px; }
      .header .header__ul .header__li a {
        text-decoration: none;
        color: #537334;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500; }
        .header .header__ul .header__li a:hover {
          text-decoration: underline;
          color: black;
          transition: .3s; }

.mainindex {
  width: 100%;
  height: 900px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 200px; }
  .mainindex .mainindex__title {
    grid-row: 1/2;
    grid-column: 1/2; }
    .mainindex .mainindex__title .mainindex__h1 {
      justify-self: center;
      grid-column: 1/2;
      grid-row: 1/2;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      margin-top: 70px;
      margin-left: 20px;
      font-size: 9vh;
      color: black;
      margin-bottom: 33px; }
  .mainindex .mainindex__section1 {
    grid-row: 2/3;
    grid-column: 1/3;
    display: flex; }
    .mainindex .mainindex__section1 .mainindex__product {
      border: 1px solid black;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      padding: 40px 0;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .mainindex .mainindex__section1 .mainindex__product:hover {
        transform: scale(1.1);
        transition: .4s;
        border: none;
        cursor: pointer; }
      .mainindex .mainindex__section1 .mainindex__product .mainindex__img {
        width: 320px;
        height: 320px; }
    .mainindex .mainindex__section1 .mainindex__product2 {
      background-color: #EBE2C5;
      border: 1px solid black;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      padding: 40px 0;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .mainindex .mainindex__section1 .mainindex__product2:hover {
        transform: scale(1.1);
        transition: .4s;
        border: none;
        cursor: pointer; }
      .mainindex .mainindex__section1 .mainindex__product2 .mainindex__img {
        width: 320px;
        height: 320px; }
  .mainindex .mainindex__section2 {
    display: flex;
    grid-row: 3/4;
    grid-column: 2/4; }
    .mainindex .mainindex__section2 .mainindex__product {
      border: 1px solid black;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      padding: 40px 0;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .mainindex .mainindex__section2 .mainindex__product:hover {
        transform: scale(1.1);
        transition: .4s;
        border: none;
        cursor: pointer; }
      .mainindex .mainindex__section2 .mainindex__product .mainindex__img {
        width: 320px;
        height: 320px; }
    .mainindex .mainindex__section2 .mainindex__product2 {
      background-color: #EBE2C5;
      border: 1px solid black;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      padding: 40px 0;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .mainindex .mainindex__section2 .mainindex__product2:hover {
        transform: scale(1.1);
        transition: .4s;
        border: none;
        cursor: pointer; }
      .mainindex .mainindex__section2 .mainindex__product2 .mainindex__img {
        width: 320px;
        height: 320px; }

.mainnosotros__addcontainer {
  margin-top: 40px;
  width: 100%;
  height: 200px;
  background-color: #EBE2C5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); }
  .mainnosotros__addcontainer a {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
    justify-self: center;
    padding: 5px 15px;
    background-color: #537334;
    border-radius: 5px;
    text-decoration: none;
    color: white; }
    .mainnosotros__addcontainer a a:hover {
      color: #537334;
      background-color: white;
      transition: .3s; }
  .mainnosotros__addcontainer .mainnosotros__addtexts {
    grid-column: 1/2;
    grid-row: 1/4;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .mainnosotros__addcontainer .mainnosotros__addtexts .mainnosotros__h3 {
      color: #537334;
      font-size: 32px;
      margin-bottom: 6px;
      font-weight: 700; }
    .mainnosotros__addcontainer .mainnosotros__addtexts .mainnosotros__h4 {
      font-size: 16px;
      font-weight: 400;
      color: #537334; }
  .mainnosotros__addcontainer .mainnosotros__addimg {
    grid-column: 3/4;
    grid-row: 1/4;
    align-self: center;
    justify-self: center; }
    .mainnosotros__addcontainer .mainnosotros__addimg .mainnosotros__img2 {
      margin: 0;
      padding: 0;
      width: 250px;
      height: 250px; }

.footer {
  width: 100%;
  height: 50px;
  margin-top: 250px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "contenido contenido contenido contenido"; }
  .footer p {
    align-self: end;
    grid-area: contenido;
    text-align: center;
    font-size: 2vh; }
    .footer p a {
      color: #537334; }

.mainnosotros {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr); }
  .mainnosotros .mainnosotros__title {
    grid-row: 1/2;
    grid-column: 1/2; }
    .mainnosotros .mainnosotros__title .mainnosotros__h1 {
      justify-self: center;
      grid-column: 1/2;
      grid-row: 1/2;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      margin-top: 70px;
      margin-left: 20px;
      font-size: 9vh;
      color: black;
      margin-bottom: 33px;
      font-size: 9vh; }

.mainnosotros__section1 {
  align-self: center;
  margin-left: 30px;
  grid-row: 2/3;
  grid-column: 1/4;
  display: flex;
  justify-content: space-between; }
  .mainnosotros__section1 .mainnosotros__rectangulo {
    width: 55px;
    height: 15px;
    background-color: black;
    margin-right: 10px; }
    .mainnosotros__section1 .mainnosotros__rectangulo .mainnosotros__parrafo1 {
      font-size: 18px;
      margin-left: 20px; }

.mainnosotros__section2 {
  align-self: start;
  margin-left: 40px;
  grid-row: 3/4;
  grid-column: 1/4; }
  .mainnosotros__section2 .mainnosotros__parrafo2 {
    margin-top: 20px;
    margin-left: 65px;
    font-size: 24px;
    font-weight: bold; }

.mainnosotros__imgcontainer {
  align-self: start;
  justify-self: center;
  margin-left: 20px;
  grid-column: 4/6;
  grid-row: 2/6;
  height: 100%;
  width: fit-content; }
  .mainnosotros__imgcontainer .mainnosotros__img {
    width: 100%;
    height: 80%; }

.mainyerba .mainyerba__title {
  grid-row: 1/2;
  grid-column: 1/2; }
  .mainyerba .mainyerba__title .mainyerba__h1 {
    justify-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 20px;
    font-size: 9vh;
    color: black;
    margin-bottom: 33px; }

.mainyerba .row {
  margin: auto;
  margin-bottom: 100px;
  height: 450px;
  width: 60%;
  justify-content: center; }
  .mainyerba .row .card {
    margin: 10px;
    padding: 0; }
    .mainyerba .row .card .card-body {
      display: flex;
      flex-direction: column; }
    .mainyerba .row .card .card-img-top {
      border: 10px, solid black; }
    .mainyerba .row .card .card-title {
      font-size: 20px;
      font-weight: 600; }
    .mainyerba .row .card .card-text {
      margin: 0; }
    .mainyerba .row .card .btn-primary {
      width: 100px;
      padding: 5px 10px;
      background-color: #537334;
      color: white;
      text-align: center;
      font-size: 15px;
      border-radius: 5px;
      justify-self: center;
      margin: auto; }
      .mainyerba .row .card .btn-primary:hover {
        color: #537334;
        background-color: #EBE2C5;
        transform: scale(1.1);
        transition: 0.3s;
        border: none; }

.mainyerba .carousel {
  width: 100%; }
  .mainyerba .carousel .carousel-inner {
    height: 800px; }

.mainproductos .mainproductos__title {
  grid-row: 1/2;
  grid-column: 1/2; }
  .mainproductos .mainproductos__title .mainproductos__h1 {
    justify-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 20px;
    font-size: 9vh;
    color: black;
    margin-bottom: 33px; }

.mainproductos .row {
  margin: auto;
  margin-bottom: 200px;
  height: 1000px;
  width: 60%;
  justify-content: center; }
  .mainproductos .row .card {
    margin: 10px;
    padding: 0; }
    .mainproductos .row .card .card-body {
      display: flex;
      flex-direction: column; }
      .mainproductos .row .card .card-body .card-title {
        font-size: 20px;
        font-weight: 600; }
      .mainproductos .row .card .card-body .card-text {
        margin: 0; }
      .mainproductos .row .card .card-body .btn-primary {
        width: 100px;
        padding: 5px 10px;
        background-color: #537334;
        color: white;
        text-align: center;
        font-size: 15px;
        border-radius: 5px;
        justify-self: center;
        margin: auto; }
        .mainproductos .row .card .card-body .btn-primary:hover {
          color: #537334;
          background-color: #EBE2C5;
          transform: scale(1.1);
          transition: 0.3s;
          border: none; }

.maincontacto .maincontacto__title {
  grid-row: 1/2;
  grid-column: 1/2; }
  .maincontacto .maincontacto__title .maincontacto__h1 {
    justify-self: center;
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 70px;
    margin-left: 20px;
    font-size: 9vh;
    color: black;
    margin-bottom: 33px; }

.maincontacto .sectioncontacto {
  margin-top: 30px;
  background-color: #EBE2C5; }

.maincontacto .formsection {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  padding-top: 60px; }

.maincontacto .form {
  width: 40%;
  background-color: white;
  padding: 40px 40px 40px 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center; }

.maincontacto .form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  margin-bottom: 10px;
  margin-top: 10px; }
  .maincontacto .form__fieldset .form__input {
    border: darkgrey 2px solid;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px 10px; }
    .maincontacto .form__fieldset .form__input .form__input:hover {
      transform: scale(1.1);
      transition: .3s; }
    .maincontacto .form__fieldset .form__input .form__input::placeholder {
      font-size: 12px;
      color: #537334;
      font-family: 'Montserrat', sans-serif; }
    .maincontacto .form__fieldset .form__input .form__label {
      display: none; }

.maincontacto .form__button {
  background-color: #537334;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px; }
  .maincontacto .form__button .form__button:hover {
    background-color: white;
    color: #537334;
    transform: scale(1.1);
    transition: .3s;
    cursor: pointer; }

@media screen and (max-width: 460px) {
  body {
    width: 100%; }
  .header {
    width: 100%;
    height: 50px;
    background-color: #EBE2C5;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 2; }
    .header .header__ul {
      height: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none; }
      .header .header__ul .header__li {
        margin-top: 5px; }
        .header .header__ul .header__li a {
          text-decoration: none;
          color: #537334;
          font-family: 'Montserrat', sans-serif;
          font-size: 10px; }
          .header .header__ul .header__li a:hover {
            text-decoration: underline;
            color: black;
            transition: .3s; }
          .header .header__ul .header__li a .header__img {
            height: 40px;
            width: 40px; }
  .mainindex {
    margin-top: 0;
    margin-bottom: 0px;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr); }
    .mainindex .mainindex__title {
      grid-row: 1/2;
      grid-column: 1/4;
      margin: 0;
      align-self: center; }
      .mainindex .mainindex__title .mainindex__h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin-top: 30px;
        font-size: 5vh;
        color: black;
        margin-bottom: 33px;
        margin: 0; }
    .mainindex .mainindex__section1 {
      grid-row: 2/3;
      grid-column: 1/3;
      display: flex;
      flex-wrap: wrap; }
      .mainindex .mainindex__section1 .mainindex__product {
        border: 1px solid black;
        width: 50%;
        height: fit-content;
        display: flex;
        justify-content: center;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .mainindex .mainindex__section1 .mainindex__product:hover {
          transform: scale(1.1);
          transition: .4s;
          border: none;
          cursor: pointer; }
        .mainindex .mainindex__section1 .mainindex__product .mainindex__img {
          width: 150px;
          height: 150px; }
      .mainindex .mainindex__section1 .mainindex__product2 {
        background-color: #EBE2C5;
        border: 1px solid black;
        width: 50%;
        height: fit-content;
        display: flex;
        justify-content: space-around;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .mainindex .mainindex__section1 .mainindex__product2:hover {
          transform: scale(1.1);
          transition: .4s;
          border: none;
          cursor: pointer; }
        .mainindex .mainindex__section1 .mainindex__product2 .mainindex__img {
          width: 150px;
          height: 150px; }
    .mainindex .mainindex__section2 {
      display: flex;
      flex-wrap: wrap;
      grid-row: 3/4;
      grid-column: 2/4; }
      .mainindex .mainindex__section2 .mainindex__product {
        border: 1px solid black;
        width: 50%;
        height: fit-content;
        display: flex;
        justify-content: center;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .mainindex .mainindex__section2 .mainindex__product:hover {
          transform: scale(1.1);
          transition: .4s;
          border: none;
          cursor: pointer; }
        .mainindex .mainindex__section2 .mainindex__product .mainindex__img {
          width: 150px;
          height: 150px; }
      .mainindex .mainindex__section2 .mainindex__product2 {
        background-color: #EBE2C5;
        border: 1px solid black;
        width: 50%;
        height: fit-content;
        display: flex;
        justify-content: space-around;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .mainindex .mainindex__section2 .mainindex__product2:hover {
          transform: scale(1.1);
          transition: .4s;
          border: none;
          cursor: pointer; }
        .mainindex .mainindex__section2 .mainindex__product2 .mainindex__img {
          width: 150px;
          height: 150px; }
  .mainnosotros__addcontainer {
    margin-top: 0px;
    width: 100%;
    height: 200px;
    background-color: #EBE2C5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); }
    .mainnosotros__addcontainer a {
      grid-column: 2/3;
      grid-row: 3/4;
      align-self: center;
      justify-self: center;
      padding: 5px 10px;
      background-color: #537334;
      border-radius: 5px;
      font-size: 12px;
      text-decoration: none;
      color: white; }
      .mainnosotros__addcontainer a a:hover {
        color: #537334;
        background-color: white;
        transition: .3s; }
    .mainnosotros__addcontainer .mainnosotros__addtexts {
      grid-column: 1/2;
      grid-row: 1/4;
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; }
      .mainnosotros__addcontainer .mainnosotros__addtexts .mainnosotros__h3 {
        color: #537334;
        font-size: 32px;
        margin-bottom: 6px;
        font-weight: 700; }
      .mainnosotros__addcontainer .mainnosotros__addtexts .mainnosotros__h4 {
        font-size: 14px;
        font-weight: 400 !important;
        color: #537334; }
    .mainnosotros__addcontainer .mainnosotros__addimg {
      grid-column: 3/4;
      grid-row: 1/4;
      align-self: center;
      justify-self: center; }
      .mainnosotros__addcontainer .mainnosotros__addimg .mainnosotros__img2 {
        width: 100px;
        height: 100px;
        margin-top: 50px; }
  .footer {
    width: 100%;
    height: 50px;
    margin-top: 80px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "contenido contenido contenido contenido"; }
    .footer p {
      align-self: end;
      grid-area: contenido;
      text-align: center;
      font-size: 1.3vh; }
      .footer p a {
        color: #537334; }
  .mainnosotros {
    margin: 0;
    height: 660px;
    width: 100%;
    row-gap: 10px; }
    .mainnosotros .mainnosotros__title {
      /* display: none; */
      margin: 0;
      grid-column: 1/6;
      margin-left: 0;
      justify-self: center; }
      .mainnosotros .mainnosotros__title .mainnosotros__h1 {
        margin-top: 30px;
        margin-left: 0;
        font-size: 5vh; }
    .mainnosotros .mainnosotros__section1 {
      margin-top: 10px;
      align-self: end;
      margin-left: 10px;
      margin-right: 10px;
      grid-row: 2/3;
      grid-column: 2/5;
      display: flex;
      justify-content: space-between; }
      .mainnosotros .mainnosotros__section1 .mainnosotros__rectangulo {
        width: 20px;
        height: 10px;
        margin-right: 5px; }
      .mainnosotros .mainnosotros__section1 .mainnosotros__parrafo1 {
        font-size: 11px; }
    .mainnosotros .mainnosotros__section2 {
      width: 100%;
      align-self: center;
      justify-self: center;
      margin-left: 0;
      grid-row: 4/5;
      grid-column: 1/6; }
      .mainnosotros .mainnosotros__section2 .mainnosotros__parrafo2 {
        text-align: center;
        margin-top: 30px;
        margin-left: 0;
        font-size: 15px;
        font-weight: bold; }
    .mainnosotros .mainnosotros__imgcontainer {
      margin-left: 0;
      align-self: center;
      justify-self: center;
      grid-column: 1/6;
      grid-row: 3/4;
      height: 90%;
      width: fit-content; }
      .mainnosotros .mainnosotros__imgcontainer .mainnosotros__img {
        width: 150px;
        height: 240px; }
  .mainnosotros__addcontainer {
    margin-top: 20px;
    width: 100%;
    height: 150px;
    background-color: #EBE2C5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); }
    .mainnosotros__addcontainer .mainnosotros__addtexts {
      margin-left: 4px;
      margin-right: 4px;
      grid-column: 1/3;
      grid-row: 1/3;
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; }
      .mainnosotros__addcontainer .mainnosotros__addtexts .mainnosotros__h3 {
        color: #537334;
        font-size: 18px;
        margin-bottom: 6px; }
      .mainnosotros__addcontainer .mainnosotros__addtexts .mainnosotros__h5 {
        font-size: 12px;
        font-weight: 400;
        color: #537334; }
    .mainnosotros__addcontainer .mainnosotros__addimg {
      grid-column: 3/4;
      grid-row: 1/3;
      align-self: center;
      justify-self: end; }
      .mainnosotros__addcontainer .mainnosotros__addimg .mainnosotros__img2 {
        width: 100%;
        height: 130px; }
    .mainnosotros__addcontainer .mainnosotros__addcontainer a {
      grid-column: 2/3;
      grid-row: 3/4;
      align-self: center;
      justify-self: center;
      padding: 5px 15px;
      background-color: #537334;
      border-radius: 5px;
      text-decoration: none;
      color: white;
      font-size: 12px; }
      .mainnosotros__addcontainer .mainnosotros__addcontainer a a:hover {
        color: #537334;
        background-color: white;
        transition: .3s; }
  .mainyerba {
    height: 1400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr); }
    .mainyerba .mainyerba__title {
      grid-row: 1/2;
      grid-column: 1/4;
      margin: 0;
      align-self: center; }
      .mainyerba .mainyerba__title .mainyerba__h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin-top: 10px;
        font-size: 5vh;
        color: black;
        margin: 0; }
    .mainyerba .row {
      grid-column: 1/4;
      grid-row: 2/6;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: auto;
      margin-top: 0;
      margin-bottom: 300px;
      height: 100px;
      width: 60%;
      justify-content: center; }
      .mainyerba .row .card {
        margin: 10px;
        padding: 0; }
        .mainyerba .row .card .card-body {
          display: flex;
          flex-direction: column; }
        .mainyerba .row .card .card-img-top {
          border: 10px, solid black; }
        .mainyerba .row .card .card-title {
          font-size: 15px;
          font-weight: 600; }
        .mainyerba .row .card .card-text {
          margin: 0;
          font-size: 11px;
          margin-bottom: 10px; }
        .mainyerba .row .card .btn-primary {
          width: 100px;
          padding: 5px 10px;
          background-color: #537334;
          color: white;
          text-align: center;
          font-size: 15px;
          border-radius: 5px;
          justify-self: center;
          margin: auto; }
          .mainyerba .row .card .btn-primary:hover {
            color: #537334;
            background-color: #EBE2C5;
            transform: scale(1.1);
            transition: 0.3s;
            border: none; }
    .mainyerba .mainyerba_carousel {
      margin-top: 100px;
      grid-column: 1/4;
      grid-row: 7/8;
      width: 100%; }
      .mainyerba .mainyerba_carousel .carousel {
        width: 100%;
        flex-direction: column;
        height: 240px; }
        .mainyerba .mainyerba_carousel .carousel .carousel-inner {
          width: 100%;
          height: 100%; }
          .mainyerba .mainyerba_carousel .carousel .carousel-inner .carousel-item {
            height: 100%; }
            .mainyerba .mainyerba_carousel .carousel .carousel-inner .carousel-item img {
              height: 100%; }
  .mainproductos {
    height: 2200px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr); }
    .mainproductos .mainproductos__title {
      grid-row: 1/2;
      grid-column: 1/4;
      margin: 0;
      align-self: center; }
      .mainproductos .mainproductos__title .mainproductos__h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin-top: 10px;
        font-size: 5vh;
        color: black;
        margin: 0; }
    .mainproductos .row {
      grid-column: 1/4;
      grid-row: 2/9;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      margin: auto;
      margin-top: 0;
      margin-bottom: 300px;
      height: 100px;
      width: 60%;
      justify-content: center; }
      .mainproductos .row .card {
        margin: 10px;
        padding: 0; }
        .mainproductos .row .card img {
          margin: auto;
          width: 150px;
          height: 150px; }
        .mainproductos .row .card .card-body {
          display: flex;
          flex-direction: column; }
          .mainproductos .row .card .card-body .card-title {
            font-size: 15px;
            font-weight: 600; }
          .mainproductos .row .card .card-body .card-text {
            margin: 0;
            font-size: 11px;
            margin-bottom: 10px; }
        .mainproductos .row .card .btn-primary {
          width: 100px;
          padding: 5px 10px;
          background-color: #537334;
          color: white;
          text-align: center;
          font-size: 15px;
          border-radius: 5px;
          justify-self: center;
          margin: auto; }
          .mainproductos .row .card .btn-primary:hover {
            color: #537334;
            background-color: #EBE2C5;
            transform: scale(1.1);
            transition: 0.3s;
            border: none; }
  .maincontacto {
    margin-top: 30px; }
    .maincontacto .maincontacto__title {
      grid-row: 1/2;
      grid-column: 1/4;
      margin: 0;
      align-self: center; }
      .maincontacto .maincontacto__title .maincontacto__h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin-top: 10px;
        font-size: 5vh;
        color: black;
        margin-bottom: 33px;
        margin: 0; }
    .maincontacto .sectioncontacto {
      margin-top: 5px; }
      .maincontacto .sectioncontacto .formsection {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: center;
        padding-bottom: 60px;
        padding-top: 60px; }
        .maincontacto .sectioncontacto .formsection .form {
          width: 80%;
          background-color: white;
          padding: 40px 40px 40px 40px;
          border-radius: 10px;
          display: flex;
          justify-content: center; }
          .maincontacto .sectioncontacto .formsection .form .form__fieldset {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: none;
            margin-bottom: 10px;
            margin-top: 10px; }
            .maincontacto .sectioncontacto .formsection .form .form__fieldset .form__input {
              width: 100%;
              border: darkgrey 2px solid;
              margin-top: 10px;
              margin-bottom: 10px;
              border-radius: 5px;
              padding: 5px 10px;
              justify-content: center; }
              .maincontacto .sectioncontacto .formsection .form .form__fieldset .form__input .form__input:hover {
                transform: scale(1.1);
                transition: .3s; }
              .maincontacto .sectioncontacto .formsection .form .form__fieldset .form__input .form__input::placeholder {
                font-size: 12px;
                color: #537334;
                font-family: 'Montserrat', sans-serif; }
            .maincontacto .sectioncontacto .formsection .form .form__fieldset .form__label {
              display: none; }
            .maincontacto .sectioncontacto .formsection .form .form__fieldset .form__button {
              background-color: #537334;
              color: white;
              border: none;
              border-radius: 5px;
              width: 85px;
              height: 30px;
              margin-top: 10px;
              margin-right: 10px; }
              .maincontacto .sectioncontacto .formsection .form .form__fieldset .form__button .form__button:hover {
                background-color: white;
                color: #537334;
                transform: scale(1.1);
                transition: .3s;
                cursor: pointer; } }

@media screen and (min-width: 460px) and (max-width: 1024px) {
  body {
    width: 100%; }
  .header {
    width: 100%;
    height: 50px;
    background-color: #EBE2C5;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 2; }
    .header .header__ul {
      height: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none; }
      .header .header__ul .header__li {
        margin-top: 5px; }
        .header .header__ul .header__li a {
          text-decoration: none;
          color: #537334;
          font-family: 'Montserrat', sans-serif;
          font-size: 15px; }
          .header .header__ul .header__li a:hover {
            text-decoration: underline;
            color: black;
            transition: .3s; }
          .header .header__ul .header__li a .header__img {
            height: 50px;
            width: 50px; }
  .mainindex {
    margin-top: 40px;
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-bottom: 20px; }
    .mainindex .mainindex__title {
      grid-row: 1/2;
      grid-column: 1/4;
      margin: 0;
      align-self: center; }
      .mainindex .mainindex__title .mainindex__h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin-top: 10px;
        font-size: 5vh;
        color: black;
        margin-bottom: 50px; }
    .mainindex .mainindex__section1 {
      grid-row: 2/3;
      grid-column: 1/3;
      display: flex;
      flex-wrap: wrap;
      height: 250px; }
      .mainindex .mainindex__section1 .mainindex__product {
        border: 1px solid black;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .mainindex .mainindex__section1 .mainindex__product:hover {
          transform: scale(1.1);
          transition: .4s;
          border: none;
          cursor: pointer; }
        .mainindex .mainindex__section1 .mainindex__product .mainindex__img {
          width: 180px;
          height: 180px; }
      .mainindex .mainindex__section1 .mainindex__product2 {
        background-color: #EBE2C5;
        border: 1px solid black;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .mainindex .mainindex__section1 .mainindex__product2:hover {
          transform: scale(1.1);
          transition: .4s;
          border: none;
          cursor: pointer; }
        .mainindex .mainindex__section1 .mainindex__product2 .mainindex__img {
          width: 180px;
          height: 180px; }
    .mainindex .mainindex__section2 {
      display: flex;
      flex-wrap: wrap;
      height: 250px;
      grid-row: 3/4;
      grid-column: 2/4;
      margin-bottom: 100px; }
      .mainindex .mainindex__section2 .mainindex__product {
        border: 1px solid black;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .mainindex .mainindex__section2 .mainindex__product:hover {
          transform: scale(1.1);
          transition: .4s;
          border: none;
          cursor: pointer; }
        .mainindex .mainindex__section2 .mainindex__product .mainindex__img {
          width: 180px;
          height: 180px; }
      .mainindex .mainindex__section2 .mainindex__product2 {
        background-color: #EBE2C5;
        border: 1px solid black;
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .mainindex .mainindex__section2 .mainindex__product2:hover {
          transform: scale(1.1);
          transition: .4s;
          border: none;
          cursor: pointer; }
        .mainindex .mainindex__section2 .mainindex__product2 .mainindex__img {
          width: 180px;
          height: 180px; }
  .mainnosotros__addcontainer {
    margin-top: 40px;
    width: 100%;
    height: 200px;
    background-color: #EBE2C5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); }
    .mainnosotros__addcontainer a {
      grid-column: 2/3;
      grid-row: 3/4;
      align-self: center;
      justify-self: center;
      padding: 5px 15px;
      background-color: #537334;
      border-radius: 5px;
      text-decoration: none;
      color: white; }
      .mainnosotros__addcontainer a a:hover {
        color: #537334;
        background-color: white;
        transition: .3s; }
    .mainnosotros__addcontainer .mainnosotros__addtexts {
      grid-column: 1/2;
      grid-row: 1/4;
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; }
      .mainnosotros__addcontainer .mainnosotros__addtexts .mainnosotros__h3 {
        color: #537334;
        font-size: 32px;
        margin-bottom: 6px; }
      .mainnosotros__addcontainer .mainnosotros__addtexts .mainnosotros__h5 {
        font-size: 16px;
        font-weight: 400;
        color: #537334; }
    .mainnosotros__addcontainer .mainnosotros__addimg {
      grid-column: 3/4;
      grid-row: 1/4;
      align-self: center;
      justify-self: center; }
      .mainnosotros__addcontainer .mainnosotros__addimg .mainnosotros__img2 {
        width: 100px;
        height: 100px;
        margin-top: 50px; }
  .footer {
    width: 100%;
    height: 50px;
    margin-top: 100px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "contenido contenido contenido contenido"; }
    .footer p {
      align-self: end;
      grid-area: contenido;
      text-align: center;
      font-size: 1.3vh; }
      .footer p a {
        color: #537334; }
  .mainnosotros {
    height: 660px;
    width: 100%;
    row-gap: 10px; }
    .mainnosotros .mainnosotros__title {
      /* display: none; */
      grid-column: 1/6;
      margin-left: 0;
      justify-self: center; }
      .mainnosotros .mainnosotros__title .mainnosotros__h1 {
        margin-top: 50px;
        margin-left: 0;
        font-size: 5vh; }
    .mainnosotros .mainnosotros__section1 {
      margin-top: 10px;
      align-self: end;
      margin-left: 10px;
      margin-right: 10px;
      grid-row: 2/3;
      grid-column: 2/5;
      display: flex;
      justify-content: space-between; }
      .mainnosotros .mainnosotros__section1 .mainnosotros__rectangulo {
        width: 20px;
        height: 10px;
        margin-right: 5px; }
      .mainnosotros .mainnosotros__section1 .mainnosotros__parrafo1 {
        font-size: 16px; }
    .mainnosotros .mainnosotros__section2 {
      width: 100%;
      align-self: center;
      justify-self: center;
      margin-left: 0;
      grid-row: 4/5;
      grid-column: 1/6; }
      .mainnosotros .mainnosotros__section2 .mainnosotros__parrafo2 {
        text-align: center;
        margin-top: 30px;
        margin-left: 0;
        font-size: 22px;
        font-weight: bold; }
    .mainnosotros .mainnosotros__imgcontainer {
      margin-left: 0;
      align-self: center;
      justify-self: center;
      grid-column: 1/6;
      grid-row: 3/4;
      height: 90%;
      width: fit-content; }
      .mainnosotros .mainnosotros__imgcontainer .mainnosotros__img {
        width: 200px;
        height: 280px; }
  .mainnosotros__addcontainer {
    margin-top: 100px;
    width: 100%;
    height: 200px;
    background-color: #EBE2C5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); }
    .mainnosotros__addcontainer .mainnosotros__addtexts {
      margin-left: 4px;
      margin-right: 4px;
      grid-column: 1/3;
      grid-row: 1/3;
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; }
      .mainnosotros__addcontainer .mainnosotros__addtexts .mainnosotros__h3 {
        color: #537334;
        font-size: 24px;
        margin-bottom: 6px; }
      .mainnosotros__addcontainer .mainnosotros__addtexts .mainnosotros__h4 {
        font-size: 18px;
        font-weight: 400;
        color: #537334; }
    .mainnosotros__addcontainer .mainnosotros__addimg {
      grid-column: 3/4;
      grid-row: 1/3;
      align-self: center;
      justify-self: end; }
      .mainnosotros__addcontainer .mainnosotros__addimg .mainnosotros__img2 {
        width: 160px;
        height: 160px;
        margin-right: 40px; }
    .mainnosotros__addcontainer .mainnosotros__addcontainer a {
      grid-column: 2/3;
      grid-row: 3/4;
      align-self: center;
      justify-self: center;
      padding: 5px 15px;
      background-color: #537334;
      border-radius: 5px;
      text-decoration: none;
      color: white;
      font-size: 12px; }
      .mainnosotros__addcontainer .mainnosotros__addcontainer a a:hover {
        color: #537334;
        background-color: white;
        transition: .3s; }
  .mainyerba {
    margin-top: 50px; }
    .mainyerba .mainyerba__title {
      grid-row: 1/2;
      grid-column: 1/4;
      margin: 0;
      align-self: center;
      margin-bottom: 50px; }
      .mainyerba .mainyerba__title .mainyerba__h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin-top: 10px;
        font-size: 5vh;
        color: black;
        margin-bottom: 33px;
        margin: 0; }
    .mainyerba .row {
      margin: auto;
      margin-bottom: 50px;
      height: 800px;
      width: 100%;
      justify-content: center;
      display: flex; }
      .mainyerba .row .card {
        margin-top: 10px;
        height: 350px;
        padding: 0; }
        .mainyerba .row .card .card-body {
          display: flex;
          flex-direction: column; }
        .mainyerba .row .card .card-img-top {
          border: 10px, solid black; }
        .mainyerba .row .card .card-title {
          font-size: 20px;
          font-weight: 600; }
        .mainyerba .row .card .card-text {
          margin: 0; }
        .mainyerba .row .card .btn-primary {
          width: 100px;
          padding: 5px 10px;
          background-color: #537334;
          color: white;
          text-align: center;
          font-size: 15px;
          border-radius: 5px;
          justify-self: center;
          margin: auto; }
          .mainyerba .row .card .btn-primary:hover {
            color: #537334;
            background-color: #EBE2C5;
            transform: scale(1.1);
            transition: 0.3s;
            border: none; }
    .mainyerba .carousel {
      width: 100%; }
      .mainyerba .carousel .carousel-inner {
        height: 500px; }
  .mainproductos {
    margin-top: 50px; }
    .mainproductos .mainproductos__title {
      grid-row: 1/2;
      grid-column: 1/4;
      margin: 0;
      align-self: center;
      margin-bottom: 50px; }
      .mainproductos .mainproductos__title .mainproductos__h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin-top: 10px;
        font-size: 5vh;
        color: black;
        margin-bottom: 33px;
        margin: 0; }
    .mainproductos .row {
      margin: auto;
      margin-bottom: 50px;
      height: 1100px;
      width: 100%;
      justify-content: center;
      display: flex; }
      .mainproductos .row .card {
        margin-top: 10px;
        height: 350px;
        padding: 0; }
        .mainproductos .row .card img {
          margin: auto;
          width: 70%;
          height: 170px; }
        .mainproductos .row .card .card-body {
          display: flex;
          flex-direction: column; }
        .mainproductos .row .card .card-img-top {
          margin-top: 10px; }
        .mainproductos .row .card .card-title {
          font-size: 20px;
          font-weight: 600; }
        .mainproductos .row .card .card-text {
          margin: 0; }
        .mainproductos .row .card .btn-primary {
          width: 100px;
          padding: 5px 10px;
          background-color: #537334;
          color: white;
          text-align: center;
          font-size: 15px;
          border-radius: 5px;
          justify-self: center;
          margin: auto; }
          .mainproductos .row .card .btn-primary:hover {
            color: #537334;
            background-color: #EBE2C5;
            transform: scale(1.1);
            transition: 0.3s;
            border: none; }
  .maincontacto {
    margin-top: 50px; }
    .maincontacto .maincontacto__title {
      grid-row: 1/2;
      grid-column: 1/4;
      margin: 0;
      align-self: center; }
      .maincontacto .maincontacto__title .maincontacto__h1 {
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin-top: 10px;
        font-size: 5vh;
        color: black;
        margin-bottom: 33px;
        margin: 0; }
    .maincontacto .sectioncontacto {
      margin-top: 50px; }
      .maincontacto .sectioncontacto .formsection {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: center;
        padding-bottom: 60px;
        padding-top: 60px; }
        .maincontacto .sectioncontacto .formsection .form {
          width: 80%;
          background-color: white;
          padding: 40px 40px 40px 40px;
          border-radius: 10px;
          display: flex;
          justify-content: center; }
          .maincontacto .sectioncontacto .formsection .form .form__fieldset {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: none;
            margin-bottom: 10px;
            margin-top: 10px; }
            .maincontacto .sectioncontacto .formsection .form .form__fieldset .form__input {
              width: 100%;
              border: darkgrey 2px solid;
              margin-top: 10px;
              margin-bottom: 10px;
              border-radius: 5px;
              padding: 5px 10px;
              justify-content: center; }
              .maincontacto .sectioncontacto .formsection .form .form__fieldset .form__input .form__input:hover {
                transform: scale(1.1);
                transition: .3s; }
              .maincontacto .sectioncontacto .formsection .form .form__fieldset .form__input .form__input::placeholder {
                font-size: 12px;
                color: #537334;
                font-family: 'Montserrat', sans-serif; }
            .maincontacto .sectioncontacto .formsection .form .form__fieldset .form__label {
              display: none; }
            .maincontacto .sectioncontacto .formsection .form .form__fieldset .form__button {
              background-color: #537334;
              color: white;
              border: none;
              border-radius: 5px;
              width: 85px;
              height: 30px;
              margin-top: 10px;
              margin-right: 10px; }
              .maincontacto .sectioncontacto .formsection .form .form__fieldset .form__button .form__button:hover {
                background-color: white;
                color: #537334;
                transform: scale(1.1);
                transition: .3s;
                cursor: pointer; } }

@media screen and (min-width: 1300px) {
  body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif; }
  .header {
    height: 50px;
    width: 100%;
    background-color: #EBE2C5;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%; }
    .header .header__ul {
      height: 50px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0; }
      .header .header__ul .header__img {
        height: 60px;
        width: 60px;
        margin-bottom: 6px; }
      .header .header__ul .header__li {
        margin-top: 5px; }
        .header .header__ul .header__li a {
          text-decoration: none;
          color: #537334;
          font-family: 'Montserrat', sans-serif;
          font-weight: 500; }
          .header .header__ul .header__li a:hover {
            text-decoration: underline;
            color: black;
            transition: .3s; }
  .mainindex {
    width: 100%;
    height: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 200px; }
    .mainindex .mainindex__title {
      grid-row: 1/2;
      grid-column: 1/2; }
      .mainindex .mainindex__title .mainindex__h1 {
        justify-self: center;
        grid-column: 1/2;
        grid-row: 1/2;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin-top: 70px;
        margin-left: 20px;
        font-size: 9vh;
        color: black;
        margin-bottom: 33px; }
    .mainindex .mainindex__section1 {
      grid-row: 2/3;
      grid-column: 1/3;
      display: flex; }
      .mainindex .mainindex__section1 .mainindex__product {
        border: 1px solid black;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .mainindex .mainindex__section1 .mainindex__product:hover {
          transform: scale(1.1);
          transition: .4s;
          border: none;
          cursor: pointer; }
        .mainindex .mainindex__section1 .mainindex__product .mainindex__img {
          width: 320px;
          height: 320px; }
      .mainindex .mainindex__section1 .mainindex__product2 {
        background-color: #EBE2C5;
        border: 1px solid black;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .mainindex .mainindex__section1 .mainindex__product2:hover {
          transform: scale(1.1);
          transition: .4s;
          border: none;
          cursor: pointer; }
        .mainindex .mainindex__section1 .mainindex__product2 .mainindex__img {
          width: 320px;
          height: 320px; }
    .mainindex .mainindex__section2 {
      display: flex;
      grid-row: 3/4;
      grid-column: 2/4; }
      .mainindex .mainindex__section2 .mainindex__product {
        border: 1px solid black;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .mainindex .mainindex__section2 .mainindex__product:hover {
          transform: scale(1.1);
          transition: .4s;
          border: none;
          cursor: pointer; }
        .mainindex .mainindex__section2 .mainindex__product .mainindex__img {
          width: 320px;
          height: 320px; }
      .mainindex .mainindex__section2 .mainindex__product2 {
        background-color: #EBE2C5;
        border: 1px solid black;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .mainindex .mainindex__section2 .mainindex__product2:hover {
          transform: scale(1.1);
          transition: .4s;
          border: none;
          cursor: pointer; }
        .mainindex .mainindex__section2 .mainindex__product2 .mainindex__img {
          width: 320px;
          height: 320px; }
  .mainnosotros__addcontainer {
    margin-top: 40px;
    width: 100%;
    height: 200px;
    background-color: #EBE2C5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); }
    .mainnosotros__addcontainer a {
      grid-column: 2/3;
      grid-row: 3/4;
      align-self: center;
      justify-self: center;
      padding: 5px 15px;
      background-color: #537334;
      border-radius: 5px;
      text-decoration: none;
      color: white; }
      .mainnosotros__addcontainer a a:hover {
        color: #537334;
        background-color: white;
        transition: .3s; }
    .mainnosotros__addcontainer .mainnosotros__addtexts {
      grid-column: 1/2;
      grid-row: 1/4;
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; }
      .mainnosotros__addcontainer .mainnosotros__addtexts .mainnosotros__h3 {
        color: #537334;
        font-size: 32px;
        margin-bottom: 6px;
        font-weight: 700; }
      .mainnosotros__addcontainer .mainnosotros__addtexts .mainnosotros__h4 {
        font-size: 16px;
        font-weight: 400;
        color: #537334; }
    .mainnosotros__addcontainer .mainnosotros__addimg {
      grid-column: 3/4;
      grid-row: 1/4;
      align-self: center;
      justify-self: center; }
      .mainnosotros__addcontainer .mainnosotros__addimg .mainnosotros__img2 {
        margin: 0;
        padding: 0;
        width: 250px;
        height: 250px; }
  .footer {
    width: 100%;
    height: 50px;
    margin-top: 250px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "contenido contenido contenido contenido"; }
    .footer p {
      align-self: end;
      grid-area: contenido;
      text-align: center;
      font-size: 2vh; }
      .footer p a {
        color: #537334; }
  .mainnosotros {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr); }
    .mainnosotros .mainnosotros__title {
      grid-row: 1/2;
      grid-column: 1/2; }
      .mainnosotros .mainnosotros__title .mainnosotros__h1 {
        justify-self: center;
        grid-column: 1/2;
        grid-row: 1/2;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        margin-top: 70px;
        margin-left: 20px;
        font-size: 9vh;
        color: black;
        margin-bottom: 33px;
        font-size: 9vh; }
  .mainnosotros__section1 {
    align-self: center;
    margin-left: 30px;
    grid-row: 2/3;
    grid-column: 1/4;
    display: flex;
    justify-content: space-between; }
    .mainnosotros__section1 .mainnosotros__rectangulo {
      width: 55px;
      height: 15px;
      background-color: black;
      margin-right: 10px; }
      .mainnosotros__section1 .mainnosotros__rectangulo .mainnosotros__parrafo1 {
        font-size: 18px;
        margin-left: 20px; }
  .mainnosotros__section2 {
    align-self: start;
    margin-left: 40px;
    grid-row: 3/4;
    grid-column: 1/4; }
    .mainnosotros__section2 .mainnosotros__parrafo2 {
      margin-top: 20px;
      margin-left: 65px;
      font-size: 24px;
      font-weight: bold; }
  .mainnosotros__imgcontainer {
    align-self: start;
    justify-self: center;
    margin-left: 20px;
    grid-column: 4/6;
    grid-row: 2/6;
    height: 100%;
    width: fit-content; }
    .mainnosotros__imgcontainer .mainnosotros__img {
      width: 100%;
      height: 80%; }
  .mainyerba .mainyerba__title {
    grid-row: 1/2;
    grid-column: 1/2; }
    .mainyerba .mainyerba__title .mainyerba__h1 {
      justify-self: center;
      grid-column: 1/2;
      grid-row: 1/2;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      margin-top: 70px;
      margin-left: 20px;
      font-size: 9vh;
      color: black;
      margin-bottom: 33px; }
  .mainyerba .row {
    margin: auto;
    margin-bottom: 100px;
    height: 700px;
    width: 60%;
    justify-content: center; }
    .mainyerba .row .card {
      margin: 10px;
      padding: 0; }
      .mainyerba .row .card .card-body {
        display: flex;
        flex-direction: column; }
      .mainyerba .row .card .card-img-top {
        border: 10px, solid black; }
      .mainyerba .row .card .card-title {
        font-size: 20px;
        font-weight: 600; }
      .mainyerba .row .card .card-text {
        margin: 0; }
      .mainyerba .row .card .btn-primary {
        width: 100px;
        padding: 5px 10px;
        background-color: #537334;
        color: white;
        text-align: center;
        font-size: 15px;
        border-radius: 5px;
        justify-self: center;
        margin: auto; }
        .mainyerba .row .card .btn-primary:hover {
          color: #537334;
          background-color: #EBE2C5;
          transform: scale(1.1);
          transition: 0.3s;
          border: none; }
  .mainyerba .carousel {
    width: 100%; }
    .mainyerba .carousel .carousel-inner {
      height: 800px; }
  .mainproductos .mainproductos__title {
    grid-row: 1/2;
    grid-column: 1/2; }
    .mainproductos .mainproductos__title .mainproductos__h1 {
      justify-self: center;
      grid-column: 1/2;
      grid-row: 1/2;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      margin-top: 70px;
      margin-left: 20px;
      font-size: 9vh;
      color: black;
      margin-bottom: 33px; }
  .mainproductos .row {
    margin: auto;
    margin-bottom: 200px;
    height: 1200px;
    width: 60%;
    justify-content: center; }
    .mainproductos .row .card {
      margin: 10px;
      padding: 0; }
      .mainproductos .row .card .card-body {
        display: flex;
        flex-direction: column; }
        .mainproductos .row .card .card-body .card-title {
          font-size: 20px;
          font-weight: 600; }
        .mainproductos .row .card .card-body .card-text {
          margin: 0; }
        .mainproductos .row .card .card-body .btn-primary {
          width: 100px;
          padding: 5px 10px;
          background-color: #537334;
          color: white;
          text-align: center;
          font-size: 15px;
          border-radius: 5px;
          justify-self: center;
          margin: auto; }
          .mainproductos .row .card .card-body .btn-primary:hover {
            color: #537334;
            background-color: #EBE2C5;
            transform: scale(1.1);
            transition: 0.3s;
            border: none; }
  .maincontacto .maincontacto__title {
    grid-row: 1/2;
    grid-column: 1/2; }
    .maincontacto .maincontacto__title .maincontacto__h1 {
      justify-self: center;
      grid-column: 1/2;
      grid-row: 1/2;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      margin-top: 70px;
      margin-left: 20px;
      font-size: 9vh;
      color: black;
      margin-bottom: 33px; }
  .maincontacto .sectioncontacto {
    margin-top: 30px;
    background-color: #EBE2C5; }
  .maincontacto .formsection {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
    padding-top: 60px; }
  .maincontacto .form {
    width: 40%;
    background-color: white;
    padding: 40px 40px 40px 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center; }
  .maincontacto .form__fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px; }
    .maincontacto .form__fieldset .form__input {
      border: darkgrey 2px solid;
      margin-top: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      padding: 5px 10px; }
      .maincontacto .form__fieldset .form__input .form__input:hover {
        transform: scale(1.1);
        transition: .3s; }
      .maincontacto .form__fieldset .form__input .form__input::placeholder {
        font-size: 12px;
        color: #537334;
        font-family: 'Montserrat', sans-serif; }
      .maincontacto .form__fieldset .form__input .form__label {
        display: none; }
  .maincontacto .form__button {
    background-color: #537334;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px; }
    .maincontacto .form__button .form__button:hover {
      background-color: white;
      color: #537334;
      transform: scale(1.1);
      transition: .3s;
      cursor: pointer; } }
