*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "utilities/variables";
@import "utilities/mixins";
@import "utilities/maps";

//index nesting

body{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.header{
    height: 50px;
    width: 100%;
    background-color: #EBE2C5;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;

    .header__ul{
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;

        .header__img{
            height: 60px;
            width: 60px;
            margin-bottom: 2px;
        }
        .header__li{
            margin-top: 5px;
            a{
                text-decoration: none;
                color: $color-principal;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                &:hover{
                    text-decoration: underline;
                    color: black;
                    transition: .3s;
                }
            }
        }
    }
}
.mainindex{
    width: 100%;
    height: 900px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    margin-bottom: 200px;

    .mainindex__title{
        @include titulo;
    
        .mainindex__h1{
            @include h1;
        }    
    }
    .mainindex__section1{
        grid-row: 2/3;
        grid-column: 1/3;
        display: flex;

        .mainindex__product{
            border: 1px solid black;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover{
                transform: scale(1.1);
                transition: .4s;
                border: none;
                cursor: pointer;
            }

            .mainindex__img{
                width: 320px;
                height: 320px;
            }
        }
        .mainindex__product2{
            background-color: #EBE2C5;
            border: 1px solid black;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover{
                transform: scale(1.1);
                transition: .4s;
                border: none;
                cursor: pointer;
            }

            .mainindex__img{
                width: 320px;
                height: 320px;
            }
        }
    }
    .mainindex__section2{
        display: flex;
        grid-row: 3/4;
        grid-column: 2/4;
        
        .mainindex__product{
            border: 1px solid black;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover{
                transform: scale(1.1);
                transition: .4s;
                border: none;
                cursor: pointer;
            }

            .mainindex__img{
                width: 320px;
                height: 320px;
            }
        }
        .mainindex__product2{
            background-color: #EBE2C5;
            border: 1px solid black;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            padding: 40px 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            &:hover{
                transform: scale(1.1);
                transition: .4s;
                border: none;
                cursor: pointer;
            }

            .mainindex__img{
                width: 320px;
                height: 320px;
            }
        }
    }
}   

.mainnosotros__addcontainer{
    margin-top: 40px;
    width: 100%;
    height: 200px;
    background-color: #EBE2C5;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

    a{
        grid-column: 2/3;
        grid-row: 3/4;
        align-self: center;
        justify-self: center;
        padding: 5px 15px;
        background-color: $color-principal;
        border-radius: 5px;
        text-decoration: none;
        color: white;

        a:hover{
            color: $color-principal;
            background-color: white;
            transition: .3s;
        }
    }
    .mainnosotros__addtexts{
        grid-column: 1/2;
        grid-row: 1/4;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        .mainnosotros__h3{
            color: $color-principal;
            font-size: 32px;
            margin-bottom: 6px;
        }
        .mainnosotros__h5{
            font-size: 16px;
            font-weight: 400;
            color: $color-principal;
        }
    }
    .mainnosotros__addimg{
        grid-column: 3/4;
        grid-row: 1/4;
        align-self: center;
        justify-self: center;
        .mainnosotros__img2{
            width: 210px;
            height: 250px;
        }
    }
}
.footer{
    width: 100%;
    height: 50px;
    margin-top: 250px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: "contenido contenido contenido contenido";

    p{
        align-self: end;
        grid-area: contenido;
        text-align: center;
        font-size: 2vh;

        a{
            color: $color-principal;
        }
    }
}

//nosotros nesting

.mainnosotros{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4,1fr);

    .mainnosotros__title{
        @include titulo;

        .mainnosotros__h1{
            @include h1;
            font-size: $titles;
        }
    }
}

.mainnosotros__section1{
    align-self: center;
    margin-left: 30px;
    grid-row: 2/3;
    grid-column: 1/5;
    display: flex;
    justify-content: space-between;

    .mainnosotros__rectangulo{
        width: 55px;
        height: 15px;
        background-color: black;

        .mainnosotros__parrafo1{
            font-size: 18px;
            margin-left: 20px;
        }
    }
}

.mainnosotros__section2{
    align-self: start;
    margin-left: 40px;
    grid-row: 3/4;
    grid-column: 1/4;

    .mainnosotros__parrafo2{
        margin-top: 20px;
        margin-left: 65px;
        font-size: 24px;
        font-weight: bold;
    }
}

.mainnosotros__imgcontainer{
    align-self: start;
    justify-self: center;
    margin-left: 20px;
    grid-column: 4/6;
    grid-row: 3/5;
    height: 90%;
    width: fit-content;

    .mainnosotros__img{
        width: 210px;
        height: 300px;
    }
}

//mayorista nesting

.mainmayorista{
    height: 900px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    margin-bottom: 200px;

    .mainmayorista__title{
        @include titulo;
        grid-row: 1/2;
    
        .mainmayorista__h1{
            @include h1;
        }
    }

    .mainmayorista__catalogo{
        grid-column: 1/4;
        grid-row: 2/5;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .mainmayorista__producto{
            margin-right: 100px;
            margin-left: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .mainmayorista__img{
                width: 260px;
                height: 260px;
            }

            .mainmayorista__button{
                width: 100px;
                padding: 5px 10px;
                background-color: #537334;
                color: white;
                text-align: center;
                font-size: 14px;
                border-radius: 5px;
                margin-bottom: 10px;

                .mainmayorista__button:hover{
                    color: #537334;
                    background-color:#EBE2C5;
                    transform: scale(1.1);
                    transition: 0.3s;
                }
            }
        }
    }
}

//products nesting

    .mainproductos{
        margin-bottom: 350px;
        height: 1000px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(4,1fr);

        .mainproductos__title{
            @include titulo;
            grid-row: 1/2;
    
            .mainproductos__h1{
                @include h1;
            }
        }

        .mainproductos__catalogo{
            grid-column: 1/4;
            grid-row: 2/5;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .mainproductos__producto{
                margin-right: 100px;
                margin-left: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .mainproductos__img{
                    width: 260px;
                    height: 260px;
                }

                .mainproductos__button{
                    width: 100px;
                    padding: 5px 10px;
                    background-color: #537334;
                    color: white;
                    text-align: center;
                    font-size: 11px;
                    border-radius: 5px;
                    margin-bottom: 10px;

                    .mainproductos__button:hover{
                        color: #537334;
                        background-color:#EBE2C5;
                        transform: scale(1.1);
                        transition: 0.3s;
                    }
                }
            }
        }
    }

    // contacto nesting


    .maincontacto{
        
        .maincontacto__title{
            @include titulo;
    
            .maincontacto__h1{
                @include h1;
            }
        }

        .sectioncontacto{
            margin-top: 30px;
            background-color: #EBE2C5;
        }

        .formsection{
            width: 100%;
            height: max-content;
            display: flex;
            justify-content: center;
            padding-bottom: 60px;
            padding-top: 60px;
        }

        .form{
            width: 40%;
            background-color: white;
            padding: 40px 40px 40px 40px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
        }

        .form__fieldset{
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: none;
            margin-bottom: 10px;
            margin-top: 10px;

            .form__input{
                border: darkgrey 2px solid;
                margin-top: 10px;
                margin-bottom: 10px;
                border-radius: 5px;
                padding: 5px 10px;

                .form__input:hover{
                    transform: scale(1.1);
                    transition: .3s;
                }                
                .form__input::placeholder{
                    font-size: 12px;
                    color: #537334;
                    font-family: 'Montserrat', sans-serif;
                }

                .form__label{
                    display: none;
                }

                .form__button{
                    background-color: #537334;
                    color: white;
                    border: none;
                    border-radius: 5px;
                    width: 60px;
                    height: 30px;
                    margin-top: 10px;
                    margin-right: 10px;

                    .form__button:hover{
                        background-color: white;
                        color: #537334;
                        transform: scale(1.1);
                        transition: .3s;
                        cursor: pointer;
                    }
                }
            }
        }
    }

@import "./media/mediaqueries";